{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodApp</title>
    <link rel="stylesheet" href="{% static 'food/navbar.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="navbar">
    <a id="brand-name" href="#">FoodApp</a>
    
    <a href="#">delete item</a>
    <a href="#">View item</a>
    <a href="{% url 'food:create_item' %}">Add item</a>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{ message }}
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>