{% extends 'food/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'food/details.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="food-details">
    <img src="{{object.image}}" alt="Pizza Image" class="food-image">
    <div class="food-info">
      <h1 class="food-name">{{object.name}}</h1>
      <p class="food-description">{{object.description}}</p>
      <p class="food-price">Price: ${{object.price}}</p>
      <a href="{% url 'food:update_item' food.id %}" class="add-to-cart-btn">Edit</a>
      <a href="{% url 'food:delete_item' food.id %}" class="add-to-cart-btn">Delete</a>
    </div>
  </div>
</div>
{% endblock %}